<template name="chatpost">
  <div class="row">
    <div class="col-xs-4 p-t-15"></div>
    <div class="col-xs-4 no-padding">
      <form class="new-message">
        <input type="text" name="text" class="form-control chat-input" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Type your Message here and hit + ENTER" autocomplete="off"/>
        <!--<form class="new-message">
            <input type="text" name="text" placeholder="Add a message" autocomplete="off"/> -->
      </form>
    </div>
    <div class="col-xs-4 p-t-15"></div>
    </div>
</template>
