label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    background-color: rgba(0, 255, 255, 0);
    border: 0px;
    padding: 0px
}

.fs-14 {
    font-size: 23px !important;
}

li {
    list-style: none;
}
